@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --font-pirata: 'Pirata One', system-ui;
  --font-space: 'Space Mono', monospace;
  /* shadow */
  --shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: var(--font-space);
}

#title {
  font-size: 4rem;
  font-family: 'Harry P';
}

h1,
h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h2 {
  margin-bottom: 0.5rem;
}

body {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

span {
  text-transform: capitalize;
}

.container {
  display: grid;
  place-content: center;
}

.sidebar {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  width: 350px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card {
  width: 300px;
  padding: 1rem;
  background-color: var(--color-fourth);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.perfil {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border: 5px solid var(--color-second);
}
