@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --font-pirata: 'Pirata One', system-ui;
  --font-space: 'Space Mono', monospace;
  /* shadow */
  --shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: var(--font-space);
}

#title {
  font-size: 4rem;
  font-family: 'Harry P';
}

h1,
h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h2 {
  margin-bottom: 0.5rem;
}

body {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

span {
  text-transform: capitalize;
}

.logo {
  width: 200px;
  justify-self: center;
}

.container {
  display: grid;
  place-content: center;
}

.sidebar {
  justify-self: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  width: 350px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 1rem;
  background-color: var(--color-fourth);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);

  background: linear-gradient(
    45deg,
    rgba(213, 213, 213, 1) 30%,
    rgba(231, 231, 231, 1) 30%
  );
}

.gryffindor {
  background: linear-gradient(
    180deg,
    rgba(245, 171, 43, 1) 30%,
    rgba(189, 30, 45, 1) 30%
  );
}
.slytherin {
  background: linear-gradient(
    180deg,
    rgba(208, 211, 212, 1) 30%,
    rgba(0, 104, 57, 1) 30%
  );
}
.hufflepuff {
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 1) 30%,
    rgba(250, 200, 38, 1) 30%
  );
}
.ravenclaw {
  background: linear-gradient(
    180deg,
    rgba(204, 208, 255, 1) 30%,
    rgba(0, 98, 169, 1) 30%
  );
}

.perfil {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border: 5px solid var(--color-second);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

/* loading animation */

.loading {
  width: 50px;
  height: 50px;
  border: 10px solid rgb(152, 152, 250);
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: loading 1s linear infinite;
  margin-top: 2rem;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 420px) {
  html {
    font-size: 12px;
  }
  .card {
    width: 350px;
    flex-direction: row;
  }
  .perfil {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border: 5px solid var(--color-second);
  }

  .gryffindor {
    background: linear-gradient(
      90deg,
      rgba(245, 171, 43, 1) 20%,
      rgba(189, 30, 45, 1) 20%
    );
  }
  .slytherin {
    background: linear-gradient(
      90deg,
      rgba(208, 211, 212, 1) 20%,
      rgba(0, 104, 57, 1) 20%
    );
  }
  .hufflepuff {
    background: linear-gradient(
      90deg,
      rgba(51, 51, 51, 1) 20%,
      rgba(250, 200, 38, 1) 20%
    );
  }
  .ravenclaw {
    background: linear-gradient(
      90deg,
      rgba(204, 208, 255, 1) 20%,
      rgba(0, 98, 169, 1) 20%
    );
  }
}
